<div class="row" style="padding-top: 45px; padding-bottom: 45px">
  <div class="input-group mb-3">
    <input type="text" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button">Search</button>
    </div>
  </div>
</div>

<%= @movie %>


<h2>Now Playing</h2>
<div class="scrollmenu">
  <% @now_playing.each do |movie| %>
      <%= image_tag 'http://image.tmdb.org/t/p/w185/' + movie['poster_path'], style: 'padding-left: 5px' %>
  <% end %>
</div>

<h2 style="padding-top: 50px">Upcomming Movies</h2>
<div class="scrollmenu">
  <% @upcomming.each do |movie| %>
    <%= image_tag 'http://image.tmdb.org/t/p/w185/' + movie['poster_path'], style: 'padding-left: 5px' %>
  <% end %>
</div>

<h2 style="padding-top: 50px">Popular</h2>
<div class="scrollmenu">
  <% @popular.each do |movie| %>
    <%= image_tag 'http://image.tmdb.org/t/p/w185/' + movie['poster_path'], style: 'padding-left: 5px' %>
  <% end %>
</div>

<h2 style="padding-top: 50px">Top Rated</h2>
<div class="scrollmenu">
  <% @top_rated.each do |movie| %>
    <%= image_tag 'http://image.tmdb.org/t/p/w185/' + movie['poster_path'], style: 'padding-left: 5px' %>
  <% end %>
</div>