<!DOCTYPE html>
<html>
  <head>
    <title>MovieGuide</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <%= link_to image_tag("logo.png", width: "30px", height: "30px"), root_path  %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Movies <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
        </ul>
        <%= form_tag results_path, :method => 'get', class: 'form-inline my-2 my-lg-0' do %>
          <%= text_field_tag :search, params[:search], class: 'form-control mr-sm-2', type: 'search' %>
          <%= submit_tag 'Search', :name => nil, class: 'btn btn-outline-info my-2 my-sm-0', type: 'submit' %>
        <% end %>
      </div>
    </div>
  </nav>
  <div class="container" style="padding-top: 100px; padding-bottom: 100px">
    <div class="row">
      <div class="col-lg-12" align="center">
        <% unless flash[:notice].nil? %>
          <div class="alert alert-success" role="alert">
            <%= flash[:notice] %>
          </div>
        <% end %>
        <% unless flash[:alert].nil? %>
          <div class="alert alert-danger" role="alert">
            <%= flash[:alert] %>
          </div>
        <% end %>
        <%= image_tag 'logo_az.png', width: '65%', style: 'padding-bottom: 40px', class: 'animated tada' %>
      </div>
    </div>
    <%= yield %>
  </div>
  </body>
</html>
